#title {
	color: white;
	font-size: 2.7em;
	text-align: center;
}

#postArticleForm {
	width: 40%;
	background-color: #ececec;
	height: 60vh;
	border-radius: 5px;
	margin: auto;
	margin-top: 5vh;
	opacity: 0.9;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	padding: 15px;
}

.postArticleLabel {
	margin-left: 1vw;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.postArticleInput {
	border-radius: 2px;
	border: 1px solid black;
	padding: 2px;
	flex-grow: 0;
	font-size: 1.5em;
	font-family: GL;
}

#postArticleTextarea {
	height: 30%;
	resize: none;
	border: 1px solid black;
	padding: 5px;
	font-family: GL;
}

#postArticleButton {
	border-radius: 3px;
	width: 20%;
	margin-top: 5vh;
	height: 5vh;
	border: 1px solid black;
	font-family: GB;
	font-size: 1.3em;
	cursor: pointer;
	transition: all 0.5s ease;
}

#postArticleButton:hover {
	background-color: #2f2f2f;
	color: white;
}
