@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body{
	font-family: 'PT Sans', sans-serif;
}

.navmod{
	background-color: #ffff99;
}

.logomod{
	color: black; 
	margin-top: 5px;
}

.columnself {
  float: left;
  width: 33.33%;
  height: 500px;
}

.rowself {
	margin-left: 10%;
	margin-right: 10%;
}

/* Clear floats after the columns */
.rowself:after {
  content: "";
  display: table;
  clear: both;
}

.rowself-pub:after {
	content: "";
	display: table;
	clear: both;
  }

.title {
	font-size: 36px;
	height: 50px;
	margin-left: 7%;
}

hr.solid {
	margin-left: 7%;
	width: 87%;
  	border-top: 2px solid #5e5e5e;
}

.pub {
	position: absolute;
	z-index: 2;
    width: 260px;
    height: 380px;
    margin-top: 27px;
    margin-left: 8.4%;
}

.container{
	position: relative;
	width: 300px;
    height: 420px;
    margin-top: 10px;
    margin-left: 21%;
    background-color: #fff491;
    opacity: 0.6;
    transition: 0.3s;
}

.pub:hover + .container{
	transform: scale(1.01);
	background-color: #ffd86b;
}

.container:hover{
	transform: scale(1.01);
	background-color: #ffd86b;
}

.footerself {
	margin-top: 5%;
	left: 0;
	padding-top: 5px;
	bottom: 0;
	width: 100%;
	height: 240px;
	background-color: #f7f7f7;
	color: black;
	text-align: center;
}

.paragraph {
	margin-left: 11%;
	margin-right: 10%; 
	font-size: 16px;
	line-height: 30px;
	text-indent: 5%;
}

.columnarticle {
	float: left;
	width: 33.33%;
	height: 350px;
  }