#title {
	color: white;
	text-align: center;
	font-size: 2.7em;
}

#adminTitle {
	color: white;
	text-align: right;
	position: absolute;
	top: 15%;
	right: 5vw;
}

#adminButton {
	position: absolute;
	top: 20%;
	right: 5vw;
	cursor: pointer;
	border-radius: 0px;
	border: 1px solid black;
	padding: 5px;
}

#articlePreviewContainer {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin-top: 5vh;
	flex-wrap: wrap;
}

#articlePreview {
	width: 100%;
	text-align: center;
}

#articlePreviewImg {
	border-radius: 5%;
	width: 100%;
}

#articlePreviewTitle {
	color: white;
}

.test {
	width: 30%;
}
