div#articleContainer {
  width: 70%;
  margin: auto;
}

h1#title {
  margin-top: 6vh;
}

h3#author {
  text-align: left;
}

div#imageContainer {
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 500px) {
  #imageContainer {
    width: 100% !important;
  }

  .articleImage {
    width: 100% !important;
  }
  /* .articleImage {
    max-width: 100% !important;
    width: 90% !important;
  } */
}

img.articleImage {
  max-width: 80%;
  display: inline-block;
}

div.bodyContainer {
  width: 100%;
}

p.body {
  text-align: justify;
  width: 90%;
  /* white-space: nowrap !important; */
  /* word-wrap: break-word; */
  margin: auto;
}
