p,
h1,
h2,
h3,
h4,
h5 {
  color: black;
}

h1#title {
  margin-top: 5%;
}

div#articlePreviewsContainer {
  text-align: center;
  margin-top: 9vh;
  /* margin-left: auto; */
}

div.previewDiv {
  width: 30%;
  margin: auto;
}
