@font-face {
  src: url("../fonts/Gravity-Book.otf");
  font-family: GravityBook;
}

@font-face {
  src: url("../fonts/Gravity-Light.otf");
  font-family: GravityLight;
}

@media screen and (max-width: 768px) {
  #messageBg {
    width: 90% !important;
    padding: 0px !important;
  }

  .fromEditorBody {
    width: 90% !important;
  }

  #bgImg {
    padding-top: 300px;
  }

  #title {
    position: absolute;
    top: 10%;
    width: 90%;
    margin-left: auto !important;
  }
}

@media screen and (max-width: 500px) {
  #messageBg {
    margin-top: 170% !important;
  }

  #bgImg {
    padding-bottom: 300px;
  }
}

div#bgImg {
  background-image: url("../img/bg-img.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
}

h1 {
  font-family: GravityBook;
  text-align: center;
  color: white;
}

h1#title {
  margin-top: 3%;
  color: white;
}

div#messageBg {
  background: #f2fcfb;
  opacity: 0.9;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  /* margin-top: 40%; */
  margin-top: 80vh;
  width: 80%;
}

div#messageBg h5#fromEditorTitle {
  margin-top: 3%;
}

div#messageBg p.fromEditorBody {
  width: 70%;
  margin: auto;
  margin-top: 3%;
  text-align: justify;
}

div#messageBg div ol#objectivesOl {
  list-style-position: inside;
  text-align: justify;
  width: 80%;
  margin: auto;
  text-align: justify;
}
