.navLinkIndex {
  font-family: GravityLight;
  color: white;
  width: 188px;
  text-align: center;
  -webkit-transition: all 1.3s ease;
  transition: all 1.3s ease;
  margin: 0 auto;
  margin-top: 2%;
  border-radius: 7px;
}

.navLinkIndex:hover {
  background-color: #dbdbdb;
  width: 200px;
  color: black;
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
}

/* a:not([href]):not([tabindex]) {
  color: white;
} */
