h1#title {
  margin-top: 6vh;
}

form#signupForm {
  width: 40%;
  margin: auto;
  margin-top: 15vh;
  background-color: #ededed;
  padding: 2.4%;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  #signupForm {
    width: 90% !important;
  }
}
