body {
	background-image: url("../../assets/img/bg-img.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#title {
	text-align: center;
	color: white;
	margin-top: 5vh;
	font-size: 2.7em;
}

#editorsNote {
	width: 80%;
	border-radius: 7px;
	background-color: #e4e4e4;
	opacity: 0.95;
	height: 90vh;
	margin: auto;
	margin-top: 5vh;
	text-align: justify;
	padding-top: 5vh;
	display: flex;
	flex-direction: column;
	margin-bottom: 10vh;
}

.editorsText {
	width: 90%;
	margin: auto;
}

#editorsList {
	width: 90%;
	margin: auto;
	margin-left: 7vw;
}
