@import "../../styles/fonts.scss";

#title {
	text-align: center;
	color: white;
	font-size: 2.7em;
}

#loginForm {
	width: 40vw;
	height: 50vh;
	border-radius: 7px;
	background-color: #ececec;
	margin: auto;
	margin-top: 5vh;
	padding: 15px;
	padding-bottom: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.loginLabel {
	margin-left: 1vw;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.loginInput {
	border-radius: 2px;
	border: 1px solid black;
	padding: 2px;
	flex-grow: 0;
	font-size: 1.5em;
	font-family: GL;
}

#loginButton {
	border-radius: 3px;
	width: 20%;
	margin-top: 5vh;
	height: 5vh;
	border: 1px solid black;
	font-family: GB;
	font-size: 1.3em;
	cursor: pointer;
	transition: all 0.5s ease;
}

#loginButton:hover {
	background-color: #2f2f2f;
	color: white;
}

#signupLink {
	color: blue;
	text-align: center;
}

#loggedInMessageContainer {
	width: 40%;
	height: 20vh;
	opacity: 0.9;
	background-color: #ececec;
	margin: auto;
	margin-top: 5vh;
	border-radius: 5px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

#logoutButton {
	color: blue;
	cursor: pointer;
}
